In [3]:
import numpy as np
import pandas as pd
import seaborn as sns


df1 = pd.read_csv(filepath_or_buffer="sampled_taxi.csv", sep=',',header=0, index_col=None, lineterminator='\n')
print(df1.shape)

(100000, 18)

In [5]:
df1.head()

,VendorID,pickup_datetime,dropoff_datetime,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,improvement_surcharge,Total_amount,Payment_type,Trip_type
0,2,06/16/2016 10:18:09 AM,06/16/2016 10:32:32 AM,-73.978424,40.666683,-73.950439,40.681030,1,2.58,11.5,0.0,0.5,0.00,0.0,0.3,12.30,2,1.0
1,2,06/19/2016 04:09:59 PM,06/19/2016 04:24:11 PM,-73.991203,40.685532,-73.985603,40.668816,1,1.87,11.0,0.0,0.5,2.95,0.0,0.3,14.75,1,1.0
2,1,06/15/2016 11:22:07 AM,06/15/2016 11:34:03 AM,-73.954796,40.789211,-73.941444,40.788609,1,1.00,9.0,0.0,0.5,1.95,0.0,0.3,11.75,1,1.0
3,2,06/18/2016 06:30:07 AM,06/18/2016 06:37:29 AM,-73.951561,40.811962,-73.967468,40.792873,1,1.78,8.0,0.0,0.5,1.76,0.0,0.3,10.56,1,1.0
4,2,06/17/2016 08:53:31 PM,06/17/2016 09:05:34 PM,-73.986336,40.703938,-73.997955,40.682999,1,2.29,10.0,0.5,0.5,3.39,0.0,0.3,14.69,1,1.0

In [7]:
df1["Passenger_count"].value_counts()

1    84441
2     7614
5     3492
3     2095
6     1616
4      703
0       24
7        8
8        7
Name: Passenger_count, dtype: int64

In [13]:
df1["pickup_datetime"] = pd.to_datetime(df1.pickup_datetime)
df1["month"] = df1.pickup_datetime.dt.month
df1["day"] = df1.pickup_datetime.dt.day
df1["hour"] = df1.pickup_datetime.dt.hour
df1["weekday"] = df1.pickup_datetime.dt.weekday
print(df1)

       VendorID     pickup_datetime        dropoff_datetime  Pickup_longitude  \
0             2 2016-06-16 10:18:09  06/16/2016 10:32:32 AM        -73.978424
1             2 2016-06-19 16:09:59  06/19/2016 04:24:11 PM        -73.991203
2             1 2016-06-15 11:22:07  06/15/2016 11:34:03 AM        -73.954796
3             2 2016-06-18 06:30:07  06/18/2016 06:37:29 AM        -73.951561
4             2 2016-06-17 20:53:31  06/17/2016 09:05:34 PM        -73.986336
5             2 2016-06-16 06:16:53  06/16/2016 06:24:33 AM        -73.885307
6             2 2016-06-18 01:48:46  06/18/2016 01:53:28 AM        -73.925598
7             1 2016-06-17 22:51:07  06/17/2016 11:09:36 PM        -73.875885
8             2 2016-06-18 17:51:36  06/18/2016 06:17:45 PM        -73.944153
9             2 2016-06-16 11:26:03  06/16/2016 11:35:21 AM        -73.890862
10            2 2016-06-19 21:26:17  06/19/2016 09:36:23 PM        -73.974152
11            2 2016-06-17 18:12:48  06/17/2016 06:34:41 PM        -73.954918
12            2 2016-06-15 07:13:26  06/15/2016 07:48:15 AM        -73.950043
13            1 2016-06-16 15:33:29  06/16/2016 03:36:40 PM        -73.951408
14            2 2016-06-17 12:59:16  06/17/2016 01:24:26 PM        -73.987236
15            2 2016-06-17 19:52:14  06/17/2016 08:01:31 PM        -73.955254
16            1 2016-06-16 17:09:41  06/16/2016 05:21:25 PM        -73.898598
17            2 2016-06-15 09:20:56  06/15/2016 10:02:42 AM        -73.995750
18            1 2016-06-17 03:44:57  06/17/2016 03:51:01 AM        -73.916801
19            2 2016-06-15 13:06:11  06/15/2016 01:41:58 PM        -73.950119
20            2 2016-06-17 11:17:48  06/17/2016 11:18:06 AM        -74.083649
21            2 2016-06-18 01:06:24  06/19/2016 01:04:43 AM        -73.922386
22            2 2016-06-16 20:11:54  06/16/2016 08:19:42 PM        -73.924179
23            2 2016-06-17 00:06:49  06/17/2016 12:16:53 AM        -73.919922
24            1 2016-06-17 01:25:54  06/17/2016 01:26:01 AM        -73.899422
25            2 2016-06-18 09:28:13  06/18/2016 09:47:21 AM        -73.950493
26            1 2016-06-19 02:15:44  06/19/2016 02:33:45 AM        -73.951088
27            1 2016-06-16 09:00:57  06/16/2016 09:12:35 AM        -73.989571
28            2 2016-06-16 18:32:45  06/16/2016 06:53:40 PM        -73.987190
29            1 2016-06-18 19:07:05  06/18/2016 07:18:42 PM        -73.977669
...         ...                 ...                     ...               ...
99970         2 2016-06-18 12:44:36  06/18/2016 01:06:41 PM        -73.944328
99971         2 2016-06-17 16:25:38  06/17/2016 04:28:23 PM        -74.000717
99972         2 2016-06-15 15:56:03  06/15/2016 04:17:30 PM        -73.844391
99973         1 2016-06-18 14:25:26  06/18/2016 02:28:10 PM        -73.953491
99974         2 2016-06-18 12:11:24  06/18/2016 12:21:24 PM        -73.825562
99975         2 2016-06-18 22:04:28  06/18/2016 10:09:16 PM        -73.957695
99976         2 2016-06-20 12:37:50  06/20/2016 12:59:26 PM        -73.948822
99977         2 2016-06-19 23:42:25  06/20/2016 12:00:15 AM        -73.915855
99978         2 2016-06-18 12:41:06  06/18/2016 12:57:22 PM        -73.961716
99979         2 2016-06-20 23:24:12  06/20/2016 11:32:00 PM        -73.977776
99980         1 2016-06-20 07:51:31  06/20/2016 08:02:37 AM        -73.918304
99981         2 2016-06-16 16:23:52  06/16/2016 04:32:24 PM        -73.893898
99982         2 2016-06-16 19:41:40  06/16/2016 07:45:51 PM        -73.925522
99983         1 2016-06-15 09:54:02  06/15/2016 09:58:17 AM        -73.982826
99984         2 2016-06-15 23:17:27  06/15/2016 11:20:44 PM        -73.953598
99985         2 2016-06-16 07:58:44  06/16/2016 08:11:06 AM        -73.950638
99986         2 2016-06-19 07:23:07  06/19/2016 07:34:05 AM        -73.964859
99987         2 2016-06-20 21:30:10  06/20/2016 09:37:12 PM        -73.861778
99988         2 2016-06-17 16:49:07  06/17/2016 04:58:49 PM        -73.903412
99989         1 2016-06-17 12:56:33  06/17/2016 01:14:22 PM        -73.986710
99990         2 2016-06-19 21:11:10  06/19/2016 09:16:31 PM        -73.993515
99991         2 2016-06-17 19:11:11  06/17/2016 07:45:02 PM        -73.935829
99992         2 2016-06-17 20:20:02  06/17/2016 08:39:13 PM        -73.984673
99993         1 2016-06-16 19:36:44  06/16/2016 07:41:18 PM        -73.844238
99994         2 2016-06-18 15:26:18  06/18/2016 03:44:06 PM        -73.910049
99995         2 2016-06-18 18:31:49  06/18/2016 06:43:49 PM        -73.882896
99996         2 2016-06-19 16:08:06  06/19/2016 04:42:14 PM        -73.960487
99997         2 2016-06-20 15:10:19  06/20/2016 03:19:30 PM        -73.803497
99998         2 2016-06-17 19:18:18  06/17/2016 07:48:07 PM        -73.886185
99999         2 2016-06-16 18:25:51  06/16/2016 06:33:18 PM        -73.903091

       Pickup_latitude  Dropoff_longitude  Dropoff_latitude  Passenger_count  \
0            40.666683         -73.950439         40.681030                1
1            40.685532         -73.985603         40.668816                1
2            40.789211         -73.941444         40.788609                1
3            40.811962         -73.967468         40.792873                1
4            40.703938         -73.997955         40.682999                1
5            40.813763         -73.891014         40.820473                1
6            40.762081         -73.912743         40.756035                1
7            40.748638         -73.924767         40.745972                1
8            40.814877         -73.988335         40.741257                1
9            40.746910         -73.872650         40.774330                5
10           40.679356         -73.939529         40.671986                1
11           40.804970         -73.967865         40.761936                1
12           40.795780         -73.998444         40.754257                1
13           40.791168         -73.940819         40.805565                1
14           40.692318         -73.948708         40.659538                1
15           40.804539         -73.942314         40.822407                1
16           40.657326           0.000000          0.000000                1
17           40.695938         -73.971733         40.761971                1
18           40.771091         -73.894653         40.768322                1
19           40.655922         -74.007843         40.707214                1
20           40.642818         -74.083664         40.642815                3
21           40.706318         -73.905937         40.700130                1
22           40.752651         -73.896263         40.752785                1
23           40.759460         -73.893501         40.745998                5
24           40.678905         -73.899422         40.678905                1
25           40.826630         -74.007820         40.740231                1
26           40.728981         -74.023552         40.634838                1
27           40.700779         -74.004364         40.707760                1
28           40.691654         -73.953171         40.698601                1
29           40.684559         -73.987389         40.696198                2
...                ...                ...               ...              ...
99970        40.833115         -73.923172         40.838219                1
99971        40.677090         -73.997452         40.679127                1
99972        40.721394         -73.777359         40.766048                4
99973        40.680866         -73.951714         40.689846                1
99974        40.742817         -73.835030         40.718399                1
99975        40.722057         -73.965660         40.713058                1
99976        40.785744         -73.973740         40.757641                1
99977        40.743362         -73.956863         40.765942                1
99978        40.811272         -73.955765         40.803734                1
99979        40.684265         -73.962181         40.656296                1
99980        40.765553         -73.903313         40.745995                1
99981        40.754585         -73.869728         40.749683                1
99982        40.761520         -73.934853         40.764343                1
99983        40.575600         -74.001167         40.577042                1
99984        40.806831         -73.945648         40.817696                2
99985        40.800873         -73.941887         40.831120                1
99986        40.683163         -73.987778         40.703815                1
99987        40.833267         -73.855484         40.811523                1
99988        40.745663         -73.898209         40.728874                1
99989        40.703831         -74.012993         40.706772                2
99990        40.666908         -73.999718         40.683517                1
99991        40.687206         -73.864937         40.770416                1
99992        40.686863         -73.933868         40.669537                1
99993        40.722492         -73.849731         40.733288                1
99994        40.874596         -73.938225         40.847168                1
99995        40.742973         -73.906158         40.776066                1
99996        40.690445         -73.963387         40.768227                1
99997        40.716908         -73.805695         40.704784                1
99998        40.744534         -73.860184         40.703117                1
99999        40.745632         -73.920807         40.743298                1

       Trip_distance  Fare_amount  ...  Tip_amount  Tolls_amount  \
0               2.58         11.5  ...        0.00           0.0
1               1.87         11.0  ...        2.95           0.0
2               1.00          9.0  ...        1.95           0.0
3               1.78          8.0  ...        1.76           0.0
4               2.29         10.0  ...        3.39           0.0
5               0.60          7.0  ...        0.00           0.0
6               0.74          5.0  ...        0.00           0.0
7               3.00         13.5  ...        0.00           0.0
8               7.64         25.5  ...        5.26           0.0
9               3.33         12.0  ...        0.00           0.0
10              2.11          9.5  ...        0.00           0.0
11              3.77         17.5  ...        1.00           0.0
12              5.66         25.0  ...        3.00           0.0
13              1.10          5.0  ...        0.00           0.0
14              4.16         18.5  ...        3.70           0.0
15              1.15          7.5  ...        0.00           0.0
16              2.10          9.5  ...        2.25           0.0
17              7.57         31.0  ...        6.36           0.0
18              1.50          7.0  ...        0.00           0.0
19              6.46         26.5  ...        8.19           0.0
20              0.00         42.0  ...       13.00           0.0
21              1.09          6.5  ...        1.56           0.0
22              1.63          8.0  ...        1.86           0.0
23              2.04          9.5  ...        0.00           0.0
24              3.10         12.5  ...        0.00           0.0
25              7.27         23.0  ...        4.76           0.0
26             10.60         30.0  ...        6.25           0.0
27              1.70         10.0  ...        0.00           0.0
28              2.31         14.0  ...        0.00           0.0
29              1.00          9.0  ...        1.00           0.0
...              ...          ...  ...         ...           ...
99970           1.76         14.0  ...        5.00           0.0
99971           0.46          3.5  ...        0.00           0.0
99972           8.42         24.5  ...        0.00           0.0
99973           0.80          4.5  ...        0.00           0.0
99974           3.35         11.5  ...        3.69           0.0
99975           0.77          5.0  ...        1.26           0.0
99976           2.55         15.0  ...        3.16           0.0
99977           4.33         16.5  ...        3.56           0.0
99978           2.07         12.0  ...        0.00           0.0
99979           2.16          8.5  ...        0.00           0.0
99980           2.20          9.5  ...        0.00           0.0
99981           1.56          8.0  ...        0.00           0.0
99982           0.76          5.0  ...        0.00           0.0
99983           1.20          6.0  ...        0.00           0.0
99984           0.87          5.0  ...        1.26           0.0
99985           2.44         11.0  ...        0.00           0.0
99986           2.35         10.5  ...        1.00           0.0
99987           1.67          7.5  ...        0.00           0.0
99988           1.62          8.5  ...        0.00           0.0
99989           2.20         12.5  ...        0.00           0.0
99990           1.41          6.5  ...        0.00           0.0
99991           9.78         32.5  ...        6.86           0.0
99992           3.53         15.0  ...        0.00           0.0
99993           0.80          5.0  ...        1.55           0.0
99994           2.62         13.5  ...        2.86           0.0
99995           2.99         12.0  ...        0.00           0.0
99996           9.32         30.5  ...        6.26           0.0
99997           1.13          8.0  ...        0.00           0.0
99998           4.90         22.0  ...        0.00           0.0
99999           1.45          7.5  ...        0.00           0.0

       improvement_surcharge  Total_amount  Payment_type  Trip_type   month  \
0                        0.3         12.30             2         1.0      6
1                        0.3         14.75             1         1.0      6
2                        0.3         11.75             1         1.0      6
3                        0.3         10.56             1         1.0      6
4                        0.3         14.69             1         1.0      6
5                        0.0          7.00             2         2.0      6
6                        0.3          6.30             2         1.0      6
7                        0.3         14.80             2         1.0      6
8                        0.3         31.56             1         1.0      6
9                        0.3         12.80             1         1.0      6
10                       0.3         10.80             2         1.0      6
11                       0.3         20.30             1         1.0      6
12                       0.3         28.80             1         1.0      6
13                       0.3          5.80             2         1.0      6
14                       0.3         23.00             1         1.0      6
15                       0.3          9.30             2         1.0      6
16                       0.3         13.55             1         1.0      6
17                       0.3         38.16             1         1.0      6
18                       0.3          8.30             2         1.0      6
19                       0.3         35.49             1         1.0      6
20                       0.0         55.00             1         2.0      6
21                       0.3          9.36             1         1.0      6
22                       0.3         11.16             1         1.0      6
23                       0.3         10.80             2         1.0      6
24                       0.3         13.80             2         1.0      6
25                       0.3         28.56             1         1.0      6
26                       0.3         37.55             1         1.0      6
27                       0.3         10.80             2         1.0      6
28                       0.3         15.80             2         1.0      6
29                       0.0         10.50             1         1.0      6
...                      ...           ...           ...         ...    ...
99970                    0.3         21.75             1         1.0      6
99971                    0.3          5.30             2         1.0      6
99972                    0.3         25.30             2         1.0      6
99973                    0.3          5.30             2         1.0      6
99974                    0.3         15.99             1         1.0      6
99975                    0.3          7.56             1         1.0      6
99976                    0.3         18.96             1         1.0      6
99977                    0.3         21.36             1         1.0      6
99978                    0.3         12.80             2         1.0      6
99979                    0.3          9.80             1         1.0      6
99980                    0.3         10.30             2         1.0      6
99981                    0.3          9.80             2         1.0      6
99982                    0.3          6.80             2         1.0      6
99983                    0.3          6.80             2         1.0      6
99984                    0.3          7.56             1         1.0      6
99985                    0.3         11.80             1         1.0      6
99986                    0.3         12.30             1         1.0      6
99987                    0.3          8.80             2         1.0      6
99988                    0.3         10.30             2         1.0      6
99989                    0.3         13.30             2         1.0      6
99990                    0.3          7.80             2         1.0      6
99991                    0.3         41.16             1         1.0      6
99992                    0.3         16.30             2         1.0      6
99993                    0.3          7.85             1         1.0      6
99994                    0.3         17.16             1         1.0      6
99995                    0.3         12.80             2         1.0      6
99996                    0.3         37.56             1         1.0      6
99997                    0.3          8.80             2         1.0      6
99998                    0.3         23.80             2         1.0      6
99999                    0.3          9.30             2         1.0      6

       day  hour  weekday
0       16    10        3
1       19    16        6
2       15    11        2
3       18     6        5
4       17    20        4
5       16     6        3
6       18     1        5
7       17    22        4
8       18    17        5
9       16    11        3
10      19    21        6
11      17    18        4
12      15     7        2
13      16    15        3
14      17    12        4
15      17    19        4
16      16    17        3
17      15     9        2
18      17     3        4
19      15    13        2
20      17    11        4
21      18     1        5
22      16    20        3
23      17     0        4
24      17     1        4
25      18     9        5
26      19     2        6
27      16     9        3
28      16    18        3
29      18    19        5
...    ...   ...      ...
99970   18    12        5
99971   17    16        4
99972   15    15        2
99973   18    14        5
99974   18    12        5
99975   18    22        5
99976   20    12        0
99977   19    23        6
99978   18    12        5
99979   20    23        0
99980   20     7        0
99981   16    16        3
99982   16    19        3
99983   15     9        2
99984   15    23        2
99985   16     7        3
99986   19     7        6
99987   20    21        0
99988   17    16        4
99989   17    12        4
99990   19    21        6
99991   17    19        4
99992   17    20        4
99993   16    19        3
99994   18    15        5
99995   18    18        5
99996   19    16        6
99997   20    15        0
99998   17    19        4
99999   16    18        3


In [14]:
day = df1.groupby("day")
day.agg("mean")['Trip_distance']

day
15    2.769824
16    2.845922
17    2.858854
18    3.024568
19    3.091389
20    2.832912
Name: Trip_distance, dtype: float64

In [16]:
newdf = df1[df1['VendorID']==1]
newdf = newdf[['day','Trip_distance']]
newdf.groupby('day').mean()

     Trip_distance
day
15        2.776409
16        2.928970
17        2.757233
18        3.059743
19        3.141023
20        2.914884

In [22]:
df1["dropoff_datetime"] = pd.to_datetime(df1.dropoff_datetime)
df1['duration'] = df1["dropoff_datetime"] - df1["pickup_datetime"]

VendorID
1    192 days 14:52:44
2   1434 days 21:26:56
Name: duration, dtype: timedelta64[ns]