# Taxi Preprocessing Data Lab
## Lab #2

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

In [5]:
df1 = pd.read_csv(filepath_or_buffer="sampled_taxi.csv", sep=',',
                     header=0, index_col=None, lineterminator='\n')
print(df1.shape)

(100000, 18)

In [6]:
df1.head()

,VendorID,pickup_datetime,dropoff_datetime,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,improvement_surcharge,Total_amount,Payment_type,Trip_type
0,2,06/16/2016 10:18:09 AM,06/16/2016 10:32:32 AM,-73.978424,40.666683,-73.950439,40.681030,1,2.58,11.5,0.0,0.5,0.00,0.0,0.3,12.30,2,1.0
1,2,06/19/2016 04:09:59 PM,06/19/2016 04:24:11 PM,-73.991203,40.685532,-73.985603,40.668816,1,1.87,11.0,0.0,0.5,2.95,0.0,0.3,14.75,1,1.0
2,1,06/15/2016 11:22:07 AM,06/15/2016 11:34:03 AM,-73.954796,40.789211,-73.941444,40.788609,1,1.00,9.0,0.0,0.5,1.95,0.0,0.3,11.75,1,1.0
3,2,06/18/2016 06:30:07 AM,06/18/2016 06:37:29 AM,-73.951561,40.811962,-73.967468,40.792873,1,1.78,8.0,0.0,0.5,1.76,0.0,0.3,10.56,1,1.0
4,2,06/17/2016 08:53:31 PM,06/17/2016 09:05:34 PM,-73.986336,40.703938,-73.997955,40.682999,1,2.29,10.0,0.5,0.5,3.39,0.0,0.3,14.69,1,1.0

## Q1: Payment types in number of trips

In [9]:
df1['Payment_type'].value_counts()

2    50433
1    48880
3      389
4      295
5        3
Name: Payment_type, dtype: int64

In [10]:
df1['pickup_datetime'].value_counts()

06/16/2016 07:18:01 PM    6
06/18/2016 05:07:57 PM    5
06/19/2016 01:12:07 AM    5
06/16/2016 05:07:34 PM    5
06/20/2016 11:30:31 AM    5
                         ..
06/15/2016 06:23:11 PM    1
06/20/2016 04:40:38 PM    1
06/17/2016 07:28:05 PM    1
06/15/2016 07:17:03 PM    1
06/19/2016 12:49:50 AM    1
Name: pickup_datetime, Length: 89158, dtype: int64

In [13]:
passcount = df1['Passenger_count'].value_counts()
print(passcount)

1    84441
2     7614
5     3492
3     2095
6     1616
4      703
0       24
7        8
8        7
Name: Passenger_count, dtype: int64

In [20]:
passcount = df1['Passenger_count'].value_counts()
passcount

1    84441
2     7614
5     3492
3     2095
6     1616
4      703
0       24
7        8
8        7
Name: Passenger_count, dtype: int64

## Q2: Trips recorded on different days

In [31]:
df1["pickup_datetime"] = pd.to_datetime(df1.pickup_datetime)
df1['month'] = df1.pickup_datetime.dt.month
df1['week'] = df1.pickup_datetime.dt.week
df1['day'] = df1.pickup_datetime.dt.day
df1['weekday'] = df1.pickup_datetime.dt.weekday
df1['hour'] = df1.pickup_datetime.dt.hour

df1['day'].value_counts()

18    20837
17    17977
19    17736
16    15661
15    14517
20    13272
Name: day, dtype: int64

In [35]:
df1['hour'].value_counts()

18    6661
19    6195
17    6092
23    5572
16    5536
22    5340
15    5252
0     5239
21    5011
14    4822
20    4523
8     4130
12    4107
9     4017
13    4013
1     3961
11    3930
10    3839
7     2719
2     2707
3     1821
4     1656
6     1623
5     1234
Name: hour, dtype: int64

In [38]:
junesix = df1[df1['day'] == 16]
junesix

,VendorID,pickup_datetime,dropoff_datetime,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,...,Tolls_amount,improvement_surcharge,Total_amount,Payment_type,Trip_type,month,week,day,weekday,hour
0,2,2016-06-16 10:18:09,06/16/2016 10:32:32 AM,-73.978424,40.666683,-73.950439,40.681030,1,2.58,11.5,...,0.0,0.3,12.30,2,1.0,6,24,16,3,10
5,2,2016-06-16 06:16:53,06/16/2016 06:24:33 AM,-73.885307,40.813763,-73.891014,40.820473,1,0.60,7.0,...,0.0,0.0,7.00,2,2.0,6,24,16,3,6
9,2,2016-06-16 11:26:03,06/16/2016 11:35:21 AM,-73.890862,40.746910,-73.872650,40.774330,5,3.33,12.0,...,0.0,0.3,12.80,1,1.0,6,24,16,3,11
13,1,2016-06-16 15:33:29,06/16/2016 03:36:40 PM,-73.951408,40.791168,-73.940819,40.805565,1,1.10,5.0,...,0.0,0.3,5.80,2,1.0,6,24,16,3,15
16,1,2016-06-16 17:09:41,06/16/2016 05:21:25 PM,-73.898598,40.657326,0.000000,0.000000,1,2.10,9.5,...,0.0,0.3,13.55,1,1.0,6,24,16,3,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99981,2,2016-06-16 16:23:52,06/16/2016 04:32:24 PM,-73.893898,40.754585,-73.869728,40.749683,1,1.56,8.0,...,0.0,0.3,9.80,2,1.0,6,24,16,3,16
99982,2,2016-06-16 19:41:40,06/16/2016 07:45:51 PM,-73.925522,40.761520,-73.934853,40.764343,1,0.76,5.0,...,0.0,0.3,6.80,2,1.0,6,24,16,3,19
99985,2,2016-06-16 07:58:44,06/16/2016 08:11:06 AM,-73.950638,40.800873,-73.941887,40.831120,1,2.44,11.0,...,0.0,0.3,11.80,1,1.0,6,24,16,3,7
99993,1,2016-06-16 19:36:44,06/16/2016 07:41:18 PM,-73.844238,40.722492,-73.849731,40.733288,1,0.80,5.0,...,0.0,0.3,7.85,1,1.0,6,24,16,3,19
99999,2,2016-06-16 18:25:51,06/16/2016 06:33:18 PM,-73.903091,40.745632,-73.920807,40.743298,1,1.45,7.5,...,0.0,0.3,9.30,2,1.0,6,24,16,3,18

In [39]:
junesix['hour'].value_counts()

18    1126
17    1058
19     978
8      915
16     870
23     854
22     841
21     828
14     799
9      786
15     783
20     740
0      638
12     632
10     629
11     611
13     600
7      596
1      384
6      325
2      250
5      145
4      137
3      136
Name: hour, dtype: int64

## Q3: Average Trip Distance

In [47]:
df1.groupby('day')

In [46]:
df1['Trip_distance'].mean()

2.9162334

In [49]:
df1.groupby('day')['Trip_distance'].mean()

day
15    2.769824
16    2.845922
17    2.858854
18    3.024568
19    3.091389
20    2.832912
Name: Trip_distance, dtype: float64

In [50]:
df1.groupby('VendorID')['Trip_distance'].mean()

VendorID
1    2.938456
2    2.910564
Name: Trip_distance, dtype: float64

In [54]:
newdf = df1[df1['VendorID'] == 1]

In [55]:
newdf = newdf[['day','Trip_distance']]

In [56]:
newdf.groupby('day').mean()

     Trip_distance
day
15        2.776409
16        2.928970
17        2.757233
18        3.059743
19        3.141023
20        2.914884

## Q4: Total trip duration of each vendor over time

In [87]:
df1['dropoff_datetime'] = pd.to_datetime(df1.dropoff_datetime)
df1['duration'] =  df1['dropoff_datetime'] - df1['pickup_datetime']

In [88]:
transformation = lambda x: x.components.hours*60 + x.components.minutes + x.components.seconds/60.0
df1['duration'] = df1['duration'].apply(transformation)

In [89]:
df1.groupby(['VendorID','day'])['duration'].mean()

VendorID  day
1         15     13.852144
          16     14.534665
          17     13.925629
          18     13.488258
          19     12.817184
          20     13.372027
2         15     25.294721
          16     25.025885
          17     24.865018
          18     26.847148
          19     29.485932
          20     22.926710
Name: duration, dtype: float64

# Practice 1: total fare_amount of Vendor 1 on different days

In [91]:
df1[df1['VendorID']==1].groupby('day')['Fare_amount'].sum()

day
15    36078.10
16    39386.96
17    44226.21
18    52942.14
19    44368.74
20    34865.24
Name: Fare_amount, dtype: float64

# Practice 2: Total num of trips from Vendor 1 on different days

In [92]:
df1[df1['VendorID']==1]['day'].value_counts()

18    4203
17    3643
19    3576
16    3117
15    2946
20    2842
Name: day, dtype: int64

# Practice 2: Total num of trips from Vendor 2 for distances great than 10 miles

In [95]:
df1[(df1['VendorID']==2) & (df1['Trip_distance'] > 10)]['day'].value_counts()

18    553
19    536
17    493
16    427
15    386
20    334
Name: day, dtype: int64